<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    {% include meta_seo.html %}
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
    <link rel='alternate' type='application/rss+xml' href='http://feeds.feedburner.com/ARandomPixel' title="All posts"/>
  </head>

  <body>
    <div id='wrapper'>
      
      <div id='header'>
        <h1>
          <a href='/'>www.neeraj.name</a>
          <br />
            <img src='http://www.gravatar.com/avatar/934f858e451cf9b771996b2940cd696b?s=140&d=http%3A%2F%2Fgithub.com%2Fimages%2Fgravatars%2Fgravatar-140.png' width='48' height='48' style='float:left;'/>
        </h1>
        <div id='menu'>
          <ul>
            <li><a href='/archive.html'>Archive</a></li>
            <li><a href='http://twitter.com/neerajdotname'>Twitter</a></li>
            <li><a href='http://github.com/neerajdotname'>GitHub</a></li>
            <li><a href='/work.html'>Open Source Work</a></li>
            <li>neerajdotname@gmail.com</li>
            <li>
            </li>
          </ul>
        </div>
        <div class='clear'></div>
      </div>

      <hr />
      
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>

      <div id='footer'>
      </div>

    </div>



<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1793147-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
    

  </body>
</html>
