<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    {% include meta_seo.html %}
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
    <link rel='alternate' type='application/rss+xml' href='http://feeds.feedburner.com/ARandomPixel' title="All posts"/>
  </head>

  <body>
    <div id='wrapper'>
      
      <div id='header'>
        <div id='nav_bar'> 
          <ul id='navigation'>
            <li class='first'><a href='/'>Home</a></li>
            <li><a href='/archive.html'>Archive</a></li>
            <li><a href='/about.html'>About</a></li>
          </ul>
        </div>
        <h1> <b> <a href='/'>Neeraj Singh</a> </b> </h1> 
      </div>

      <hr />
      
      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>

      <div id='footer'>
      </div>
    
    </div>  <!-- end of wrapper -->



<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-1793147-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
    

  </body>
</html>
