<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:regular,bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Neuton&subset=latin' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="HkAMlXyqJksJXwqB5XrMqYaT20zGaR_l-aktnfSYSuc" />
    <title>{{ page.title }} - www.neeraj.name (neerajdotname) </title>
    {% include meta_seo.html %}
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
    <link rel='alternate' type='application/rss+xml' href='http://feeds.feedburner.com/ARandomPixel' title="All posts"/>
  </head>

  <body>
    <div id='wrapper'>
      <div id='super_header'>

        <div id="influads_block" class="influads_block"> </div>
        <script type="text/javascript">(function(){ var acc =   "acc_216d254_pub";var st ="css";var or= "h";var e=document.getElementsByTagName("script")[0];var d=document.createElement("script");d.src=('https:' == document.location.protocol ?'https://' : 'http://') +"engine.influads.com/show/"+or+"/"+st+"/"+acc;d.type="text/javascript"; d.async=true; d.defer=true; e.parentNode.insertBefore(d,e);})();</script>

      <div id='header'>

          <div class='header_images'>
            <h1> <b> <a href='/'>Neeraj Singh</a> </b> </h1>
            <br />
            <a href='http://twitter.com/neerajdotname'>
              <img src="/images/icon-twitter.png" alt="twitter" />
            </a>
            &nbsp;
            <a href='http://feeds.feedburner.com/ARandomPixel'>
              <img src="/images/icon-rss.png" alt="rss feed" />
            </a>
            &nbsp;
            <a href='/'>Home</a>
            &nbsp;
            <a href='/archive.html'>Archive</a>
            &nbsp;
            <a href='/about.html'>About</a>
          </div>
          <div style='clear:both;'></div>
        </div>
    <div style='clear:both'></div>
  </div>


      <hr />

      <div id='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>

      <div id='footer'>
      </div>

    </div>  <!-- end of wrapper -->


<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19036601-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

  </body>
</html>
